package authentication

import "github.com/NordGus/fnncr/internal/adapters/primary/web/app/views/layouts"
import "github.com/NordGus/fnncr/internal/adapters/primary/web/app/views/components"

templ Login(f FormLogin) {
	@layouts.Login() {
		@components.Heading1("fnncr", false)
		<div id="login-form">
			@form(f)
		</div>
	}
}
