package authentication

import "github.com/NordGus/fnncr/internal/adapters/primary/web/app/views/layouts"

templ Login(f FormLogin) {
	@layouts.Login() {
		<h1>fnncr</h1>
		<div id="login-form">
			@form(f)
		</div>
	}
}
