package authentication

import "financo/internal/adapters/primary/web/app/views/layouts"
import "financo/internal/adapters/primary/web/app/views/components"

templ Login(f FormLogin) {
	@layouts.Login() {
		@components.Heading1("financo", false)
		<div id="login-form">
			@form(f)
		</div>
	}
}
