package layouts

templ Login() {
	@base("financo | sign in") {
		<body class="flex flex-col p-0 m-0 justify-center items-center h-[100vh]">
			{ children... }
			<script type="module" src="/dist/src/login.js"></script>
		</body>
	}
}
