package components

templ Heading1(text string) {
    <h1 class="text-4xl mb-1">{ text }</h1>
}

templ Heading2(text string) {
    <h2 class="text-3xl mb-1">{ text }</h2>
}

templ Heading3(text string) {
    <h3 class="text-2xl mb-1">{ text }</h3>
}

templ Heading4(text string) {
    <h4 class="text-xl mb-1">{ text }</h4>
}

templ Heading5(text string) {
    <h5 class="text-lg mb-1">{ text }</h5>
}

templ Heading6(text string) {
    <h6 class="text-lg mb-1">{ text }</h6>
}