package inputs

type Checkbox struct {
	ID      string
	Name    string
	Value   string
	Checked bool
}

templ CheckboxComponent(c Checkbox) {
	<input
		type="checkbox"
		class={ "my-1.5 mx-2" }
		if c.ID == "" {
			id={ c.Name }
		} else {
			id={ c.ID }
		}
		name={ c.Name }
		value={ c.Value }
		if c.Checked {
			checked
		}
	/>
}
