package buttons

templ ActionWithTarget(text string, url string, target string) {
	<a
		hx-get={ url }
		hx-target={ target }
		class={
			"py-1.5 px-2 rounded-lg",
			"border-button border-neutral-500 hover:border-neutral-400",
			"hover:text-neutral-400 hover:cursor-pointer",
		}
	>
		{ text }
	</a>
}
