package buttons

templ FormSubmit(value string, isFullWidth bool, isDisabled bool) {
	<input
		class={
			"py-1.5 px-2",
			"rounded-lg",
			"border-button border-neutral-500 hover:enabled:border-neutral-400 disabled:border-neutral-300",
			"disabled:text-neutral-500 hover:enabled:text-neutral-400",
			"cursor-pointer disabled:cursor-not-allowed",
			"disabled:bg-neutral-300",
			templ.KV("w-full", isFullWidth),
		}
		type="submit"
		value={ value }
		if isDisabled {
			disabled
		}
	/>
}
