package applets

import "github.com/NordGus/fnncr/internal/adapters/primary/web/app/views/layouts"
import "github.com/NordGus/fnncr/internal/adapters/primary/web/app/views/components"

templ NotImplemented(ald layouts.ApplicationLayoutData, route string) {
	@layouts.Application(ald) {
		<div class="p-2 inline-flex flex-col justify-center items-center min-h-full w-full">
			@components.Heading1("This Applet is not implemented yet", false)
			@components.Heading5(route, true)
		</div>
	}
}
